<!DOCTYPE html>
<html>

<head>
  <style>
    .bodyStyle {
      font-family: Cambria;
    }

    #container {
      width: 100%;
      font-size: 0;
      margin: 15px;
      padding-left: 20px;
      padding-bottom: 20px;
    }

    .wtrMark {
      background: url('data:image/png;base64,$waterMark');
      background-repeat: no-repeat;
      background-position: center;
    }

    .wtrMark .wtrMarkCnt {
      background-color: white;
      opacity: 0.9;
    }
  </style>
</head>

<body class="bodyStyle">
  <div style="padding-left:15px">
  <br/>
   <img width="600" src="data:image/png;base64,$coverLetterHeader" />
  </div>
  <div class="wtrMark">

    <div class="wtrMarkCnt">
      <div>
        <div style="padding-bottom: 1px;">
          <div style="padding-left:20px">
            <br/>
            <br/>
            <span style="font-weight: bold;">$timeNow</span>
            <br/>
            <br/>
            <br/>
            <br/>
            <span>Dear $sponsorName,</span>
            <br/>
            <br/>
            <span style="font-weight: bold;font-style: italic;">Greetings from the Sinai Mar Thoma Center,</span>
             <span style="font-weight: bold;"> New York </span>
            <br/>
            <br/>
              #if( $totalCount == 1 )
		          #set($c_word1 = 'child')
		          #set($c_word2 = 'the')
		      #else
			    #set($c_word1 = 'children')
			    #set($c_word2 = 'these')
			#end
            
            <span>Thank you for being part of the mission activities of our diocese. We have received your pledge to sponsor $totalCount
              $c_word1 through the Light to Life Mission project. Your donation will be utilized for the overall development
              of $c_word2 $c_word1 in a systematic manner.</span>
            <br/>
            <br/>
            <span>As you are aware, this project aims at the social transformation of communities by the holistic development of
              children through education, health care, food and shelter. I sincerely appreciate you for setting aside a portion
              of your resources for this mission. The office of the Mar Thoma Mission Board will be contacting you with further
              information regarding the sponsorship.</span>
            <br/>
            <br/>
            <span>May God abundantly bless you and your family.</span>
            <br/>

            <br/>
            <span style="font-weight: bold;"> Yours in His ministry, </span>
            <br/>
            <br/>

          </div>
        </div>
      </div>

      <div>
        <div style="padding-bottom: 2px;">

          <div style="padding-left:10px">
		  <table width="100%">
			  <tr>
				<td>
				 <img width="190px" src="data:image/png;base64,$sign1" />
				</td>
				<td>
				 <img width="160px" src="data:image/png;base64,$seal" />
				</td>
			  </tr>
		  </table>
          </div>

          <div style="padding-left:20px">
            <span style="font-weight: bold;">Rt. Rev. Dr. Isaac Mar Philoxenos</span>
          </div>
          <div style="padding-left:20px">
            <span style="font-weight: bold;">Diocesan Bishop </span>
          </div>
        </div>
      </div>
           <br/>
		   <br/>  
		   <br/>
		   <br/>
		   <br/>
		   <br/>
		   <br/>
		   <br/>
    </div>
    <div style="padding-left:60px;">
      <b style="color: #1245BC; font-size: 11px;font-weight: bold;">Mission Activities: Mexico Mission, Native American Mission, Neighborhood Mission, India Mission, Light to Life</b>
    </div>
    <div style="padding-left:150px;">
      <b style="color: #a31010; font-size: 14px;font-style: italic;">'Reaching out to the unreached with the message of love'</b>
    </div>
  </div>
 
</body>

</html>