<!DOCTYPE html>
<html>

<head>
  <style>
    .bodyStyle {
      font-family: Cambria;
    }

    #container {
      width: 100%;
      font-size: 0;
      margin: 15px;
      padding-left: 20px;
      padding-bottom: 20px;
    }

     </style>
</head>

<body class="bodyStyle">
  <div style="padding-left:15px">
  <br/>
   <img width="600" src="data:image/png;base64,$header" />
  </div>
  <div>

    <div>
      <div>
        <div style="padding-bottom: 1px;">
          <div style="padding-left:20px">
           <br/>
            <br/>
            <span style="font-weight: bold;">$timeNow</span>
            <br/>
            <br/>
            <span style="font-weight: bold;">To</span>
            <br/>
            <br/>
            <span>$sponsorName</span>
            <br/>
            <span>$parishName</span>
            <br/>
            <span>$parishCity</span>
            <br/>
            <br/>
            <span style="font-weight: bold;font-style: italic;">Greetings from the Sinai Mar Thoma Center, New York</span>
            <br/>
            <br/>
              #if( $totalCount == 1 )
		          #set($c_word1 = 'child')
		          #set($c_word2 = 'the')
		      #else
			    #set($c_word1 = 'children')
			    #set($c_word2 = 'these')
			#end
            
            <span>On behalf of the Diocese, I would like to thank you for being a part of the Light to Life Mission. We have received your contribution to sponsor $totalCount $c_word1 and 
            the donation will be utilized for the overall development of these children.</span>
            <br/>
            <br/>
            <span>This project aims at the social transformation of communities in a holistic manner. The physical, social, emotional, mental, and spiritual growth of the children is 
            crucial for their development and growth. The Mission provides supplies,education, health care and nutrition to the children.By investing in the children's  education and welfare,
             it will result in long lasting benefits in the community. It will change these children's lives and allow them to hope for a brighter future.</span>
            <br/>
            <br/>
            <span>Our Mission activities would not be successful without the support and generosity of our sponsors. Your commitment towards the mission program is highly appreciated.</span>
            <br/>
            <br/>
            <span>The Mar Thoma Mission Board has included further information regarding your sponsorship.</span>
            <br/>
            <br/>
            <span>May God bless you and your family.</span>
            <br/>

            <br/>
            <span style="font-weight: bold;"> Yours in Christ's ministry, </span>
           

          </div>
        </div>
      </div>

      <div>
        <div style="padding-bottom: 2px;">

          <div style="padding-left:10px">
		  <table width="100%">
			  <tr>
				<td>
				 <img width="190px" src="data:image/png;base64,$bishopSignature" />
				</td>
				<td>
				 <img width="160px" src="data:image/png;base64,$seal" />
				</td>
			  </tr>
		  </table>
          </div>

          <div style="padding-left:20px">
            <span style="font-weight: bold;">Rt. Rev. Dr. Isaac Mar Philoxenos</span>
          </div>
          <div style="padding-left:20px">
            <span style="font-weight: bold;">Diocesan Bishop </span>
          </div>
        </div>
      </div>

            <br/>
		   <br/>
    </div>
    <div style="padding-left:60px;">
      <b style="color: #1245BC; font-size: 11px;font-weight: bold;">Mission Activities: Mexico Mission, Native American Mission, Neighborhood Mission, India Mission, Light to Life</b>
    </div>
    <div style="padding-left:150px;">
      <b style="color: #a31010; font-size: 14px;font-style: italic;">'Reaching out to the unreached with the message of love'</b>
    </div>
  </div>
 
</body>

</html>