<!DOCTYPE html>
<html>

<head>
  <style>
    .bodyStyle {
       font-family: Cambria;
    }

    .tableStyle {
      border-spacing: 1px;
      border-collapse: separate;
      width: 97.7%;
    }

    .thStyle {
      border: .2px solid black;
      border-collapse: inherit;
      padding-left: 5px;
      padding-top: 2px;
      height: 15px;
      text-align: left;
      font-size: 9px;
	  font-weight: bold;
    }

    .thImageStype {

      padding-left: 5px;
      padding-top: 2px;
      height: 20px;
      text-align: center;
    }

    .tdSpanStyle {
       border: .2px solid black;
      border-collapse: inherit;
      padding-left: 5px;
      padding-top: 2px;
      height: 15px;
      text-align: left;
      font-size: 9px;
    }

    .thSpanStyle {
      font-size: 12px;
    }

   .thStyleHeader {
        border: .2px solid black;
        background-color: #B5CCEB;
        border-collapse: inherit;
        padding-left: 5px;
        padding-top: 2px;
        height: 20px;
        text-align: left;
    }


    .tdHighLightStyle {
      border: .5px solid black;
      border-collapse: collapse;
      padding-left: 5px;
      padding-top: 2px;
      padding-right: 5px;
      text-align: left;
      background-color: #e6e6e6;
      color: #800000;
    }

    .container {
   	  border:0px solid black;
      width: 100%;
      font-size: 0;
      margin: 15px;
      padding-left: 20px;
      padding-bottom: 15px;
    }

  </style>
</head>

<body class="bodyStyle">
    <div style="padding-left:16px">
        <br />
        <img width="665" src="data:image/png;base64,$header" />
    </div>
  <div>
    <div>
      <div>
        <div style="padding-bottom: 1px;">
          <div style="padding-left:20px;">
         	<br />
             <span style="font-size: 13px;">Dear $sponsorName,</span>
            <br />
 			<br />
 			 
            <span style="font-size: 13px;">The Mar Thoma Mission Board-Diocese of North America & Europe would like to thank you for supporting the Light
			to Life project and actively participating by pledging to sponsor a child.Because of the generosity of sponsors such 
			as yourself, we are able to further our mission in bettering the lives of children across all our mission centers. We
			 request your continued support and prayers towards this worthy cause.</span>
             <br />
             <br />
            <span style="font-size: 13px;padding-bottom: 10px;">The following are your sponsorship details:</span>

          </div>
        </div>
      </div>
      <div class="container">
        <table class="tableStyle">
          <tr>
            <td class="thStyleHeader" colspan="4">
              <span class="thSpanStyle">SPONSOR INFORMATION</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle" width="20px;">
              <span class="tdSpanStyle">ID</span>
            </td>
            <td class="tdSpanStyle">
              <span>$sponsorId</span>
            </td>
            <td class="thStyle">
              <span class="tdSpanStyle">NAME</span>
            </td>
            <td class="tdSpanStyle">
              <span>$sponsorName</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle">
              <span class="tdSpanStyle">REGION/CENTER</span>
            </td>
           <td class="tdSpanStyle">
              <span>$sponsorParishRegion</span>
            </td>
            <td class="thStyle">
              <span class="tdSpanStyle">PARISH</span>
            </td>
            <td class="tdSpanStyle">
              <span>$sponsorParish</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle">
              <span class="tdSpanStyle">PHONE</span>
            </td>
            <td class="tdSpanStyle">
              <span>$!sponsorPhone</span>
            </td>
            <td class="thStyle">
              <span class="tdSpanStyle">E-MAIL</span>
            </td>
            <td class="tdSpanStyle">
              <span>$!sponsorEmail</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle">
              <span class="tdSpanStyle">ADDRESS</span>
            </td>
             <td class="tdSpanStyle" colspan="3">
              <span>$sponsorAddress</span>
            </td>
          </tr>
        </table>
      </div>
       #set($studentSize = $sponseeList.size())
       #if( $studentSize > 4 )
		          #set($child-padding-bottom = '15px')
		          #set($sponsor-padding-bottom = '0px')
		          #set($sponsor-padding-top = '33px')
		      #elseif( $studentSize == 4 )
			    #set($child-padding-bottom = '8px')
			    #set($sponsor-padding-bottom = '0px')
			     #set($sponsor-padding-top = '0px')   
		      #elseif( $studentSize == 3 )
			    #set($child-padding-bottom = '10px')
			    #set($sponsor-padding-bottom = '0px')
			     #set($sponsor-padding-top = '0px')
			  #elseif( $studentSize == 2 )
			    #set($child-padding-bottom = '10px')
			    #set($sponsor-padding-bottom = '0px')
			    #set($sponsor-padding-top = '0px')
			  #elseif( $studentSize == 1 )
			    #set($child-padding-bottom = '15px')
			    #set($sponsor-padding-bottom = '0px')
			    #set($sponsor-padding-top = '0px')
			#end
			

      #foreach ($sponsee in $sponseeList)
      <div class="container" style="padding-bottom: $child-padding-bottom">
        <table class="tableStyle">
          <tr>
            <td class="thStyleHeader" colspan="7">
              <span class="thSpanStyle">CHILD INFORMATION</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle" width="105px;">
              <span class="tdSpanStyle">ID</span>
            </td>
            <td class="tdSpanStyle">
              <span>$!sponsee.uniqueId</span>
            </td>
            <td class="thStyle">
              <span class="tdSpanStyle">NAME</span>
            </td>
            <td class="tdSpanStyle" colspan="2">
              <span>$!sponsee.studentName</span>
            </td>
            <td class="thStyle">
              <span class="tdSpanStyle">DATE OF BIRTH</span>
            </td>
            <td class="tdSpanStyle">
              <span>$sponsee.dateOfBirth</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle">
              <span class="tdSpanStyle">GENDER</span>
            </td>
           <td class="tdSpanStyle">
              <span>$!sponsee.gender</span>
            </td>
            <td class="thStyle">
              <span class="tdSpanStyle">CLASS/GRADE</span>
            </td>
            <td class="tdSpanStyle">
              <span>Active</span>
            </td>
            <td class="thStyle">
              <span class="tdSpanStyle">MEDIUM OF STUDY</span>
            </td>
            <td class="tdSpanStyle">
              <span>$!sponsee.baseLanguage</span>
            </td>
            <td class="thImageStype" rowspan="6">
        	  <img width="80" height="90" src="data:image/png;base64,$sponsee.profilePicture" alt="imagename" />
            </td>
          </tr>

          <tr>
            <td class="thStyle">
              <span class="tdSpanStyle">HOBBY</span>
            </td>
            <td class="tdSpanStyle">
              <span>$!sponsee.hobby</span>
            </td>
             <td class="thStyle">
              <span class="tdSpanStyle">TALENT</span>
            </td>
             <td class="tdSpanStyle" colspan="3">
              <span>$!sponsee.talent</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle">
              <span class="tdSpanStyle">FAVORITE COLOR</span>
            </td>
            <td class="tdSpanStyle">
              <span>$!sponsee.favColor</span>
            </td>
             <td class="thStyle">
              <span>FAVORITE GAME</span>
            </td>
             <td class="tdSpanStyle" colspan="3">
              <span>$!sponsee.favGame</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle">
              <span class="tdSpanStyle">NAME OF GUARDIAN</span>
            </td>
            <td class="tdSpanStyle">
              <span>$!sponsee.nameOfGuardian</span>
            </td>
            <td class="thStyle">
              <span>OCCUPATION</span>
            </td>
            <td class="tdSpanStyle" colspan="3">
              <span>$!sponsee.occupationOfGuardian</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle">
              <span class="tdSpanStyle">PARTNER ORGANIZATION</span>
            </td>
            <td class="tdSpanStyle" colspan="5">
              <span>$!sponsee.agencyName</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle">
              <span class="tdSpanStyle">PROJECT LOCATION</span>
            </td>
             <td class="tdSpanStyle" colspan="5">
              <span>$!sponsee.projectName - $!sponsee.address</span>
            </td>
          </tr>
          <tr>
           <td class="thStyle">
              <span class="tdSpanStyle">SPONSORSHIP PERIOD</span>
            </td>
            <td class="tdSpanStyle">
              <span>$!sponsee.period</span>
            </td>
            <td class="thStyle">
              <span class="tdSpanStyle">RENEWAL DATE</span>
            </td>
             <td class="tdSpanStyle" colspan="3">
              <span style="background-color: yellow;">$!sponsee.renewalDue</span>
            </td>
          </tr>
        </table>
      </div>
     
      #end

     

      <div class="container" style="padding-top: $sponsor-padding-top;padding-bottom: $sponsor-padding-bottom">
        <table class="tableStyle">
          <tr>
            <td class="thStyleHeader" colspan="4">
              <span class="thSpanStyle">SPONSORSHIP DETAILS</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle">
              <span class="tdSpanStyle">NUMBER OF CHILDREN SPONSORED</span>
            </td>
            <td class="tdSpanStyle">
              <span>$!totalChildrenSposored</span>
            </td>
            <td class="thStyle">
              <span class="tdSpanStyle">SPONSORSHIP START DATE</span>
            </td>
            <td class="tdSpanStyle">
              <span>$!spnStartDate</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle">
              <span class="tdSpanStyle">TOTAL DONATION RECEIVED</span>
            </td>
            <td class="tdSpanStyle">
              <span>$$!totalSponsorshipReceived</span>
            </td>
            <td class="thStyle">
              <span class="tdSpanStyle">PAYMENT METHOD</span>
            </td>
            <td class="tdSpanStyle">
              <span>$!paymentMethod</span>
            </td>
          </tr>
          <tr>
            <td class="thStyle">
              <span class="tdSpanStyle">FUNDS UTILIZED</span>
            </td>
            <td class="tdSpanStyle">
              <span>$$!fundUsed</span>
            </td>
            <td class="thStyle">
              <span class="tdSpanStyle">BALANCE</span>
            </td>
            <td class="tdSpanStyle">
              <span>$$!totalBalance</span>
            </td>
          </tr>
        </table>
      </div>
      <div> 
        <div style="padding-bottom: 1px;border:0px solid black;">
          <div style="padding-left:20px; padding-bottom: 0px;border:0px solid black; padding-bottom: 10px;">
            <span style="font-size: 13px;">For any questions or clarifications, Kindly contact the office of the Mar Thoma Mission Board by phone on +1(516)377-3311 
            or via email at marthomamissionboard@gmail.com.</span>
          </div>
          <div style="padding-left:20px">
            <span style="font-size: 13px;">Sincerely,</span>
          </div>
          <div style="padding-left:20px">
            <span style="font-size: 13px;">Mission Coordinator</span>
          </div>
          <div style="padding-left:20px">
            <span style="font-size: 13px;">Mar Thoma Mission Board</span>
          </div>
          <div style="padding-left:20px">
            <span style="font-size: 13px;">Diocese of North America & Europe</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>