<!DOCTYPE html>
<html>

<head>
  <style>
    .bodyStyle {
       font-family: Cambria;
    }

    .tableStyle {
      border-spacing: 1px;
      border-collapse: separate;
      width: 97.7%;
    }

    .thStype {
      border: .2px solid black;
      border-collapse: inherit;
      padding-left: 5px;
      padding-top: 2px;
      height: 20px;
      text-align: left;
    }

    .thImageStype {

      padding-left: 5px;
      padding-top: 2px;
      height: 20px;
      text-align: center;
    }

    .tdSpanStyle {
      font-size: 10px;
    }

    .thSpanStyle {
      font-size: 12px;
    }

    .tdHighLightStyle {
      border: .5px solid black;
      border-collapse: collapse;
      padding-left: 5px;
      padding-top: 2px;
      padding-right: 5px;
      text-align: left;
      background-color: #e6e6e6;
      color: #800000;
    }

    .container {
      width: 100%;
      font-size: 0;
      margin: 15px;
      padding-left: 20px;
      padding-bottom: 20px;
    }

    .wtrMark {
      background: url('data:image/png;base64,$waterMark');

      background-repeat: no-repeat;
      background-position: center;
    }

    .wtrMark .wtrMarkCnt {
      background-color: white;
      opacity: 0.9;
    }
  </style>
</head>

<body class="bodyStyle">
  <div>
    <div style="border:1px solid black; padding-bottom: 15px;">
      <div style="padding-left:175px">
        <h2 style="padding: 0px;margin: 0px;">MAR THOMA MISSION BOARD</h2>
      </div>
      <div style="padding-left:105px">
        <h2 style="padding: 0px;margin: 0px;">DIOCESE OF NORTH AMERICA & EUROPE</h2>
      </div>
      <div style="padding-left:220px">
        <p style="padding: 0px;margin: 0px; font-size: 13px;">2320 Merrick Ave, Merrick, New York - 11566</p>
      </div>
      <div style="padding-left:60px">
        <span style="font-size: 12px;">
          Phone: (516) 377-3311 Email: marthomamissionboard@gmail.com Website: www.marthomamissionnae.org</span>
      </div>
    </div>
    <div style="background:rgb(230,230,230); padding-left:300px; padding-bottom:5px; padding-top:4px;">
      <b style="color:rgb(128,0,0); font-size: 16px;">LIGHT TO LIFE </b>
    </div>
    <div style="padding-left:220px;">
      <b style="color: #a31010; font-size: 14px;">SPONSORSHIP INFORMATION DOCUMENT</b>
    </div>
  </div>
  <div class="wtrMark">
    <div class="wtrMarkCnt">
      <div>
        <div style="padding-bottom: 1px;">
          <div style="padding-left:20px">
            <span style="font-size: 13px;">$timeNow</span>
            <br />
            <br />
            <span style="font-size: 13px;">Dear $sponsorName,</span>
            <br />
            <br />
            <span style="font-size: 13px;">The Mar Thoma Mission Board-Diocese of North America & Europe would like
              to thank you for supporting the
              Light to Life project and actively participating by pledging to sponsor a child.</span>
            <br />
            <br />
            <span style="font-size: 13px;">The following are your sponsorship details:</span>
          </div>
        </div>
      </div>
      <div class="container">
        <table class="tableStyle">
          <tr>
            <td class="thStype" colspan="4">
              <span class="thSpanStyle">SPONSOR INFORMATION</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle" width="20px;">
              <span class="tdSpanStyle">ID</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$sponsorId</span>
            </td>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">NAME</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$sponsorName</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">REGION/CENTER</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$sponsorParishRegion</span>
            </td>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">PARISH</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$sponsorParish</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">PHONE</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$!sponsorPhone</span>
            </td>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">E-MAIL</span>
            </td>
            <td class="thStype" width="150px">
              <span class="tdSpanStyle">$!sponsorEmail</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">ADDRESS</span>
            </td>
            <td class="thStype" colspan="3">
              <span class="tdSpanStyle">$sponsorAddress</span>
            </td>
          </tr>
        </table>
      </div>

      #foreach ($sponsee in $sponseeList)
      <div class="container">
        <table class="tableStyle">
          <tr>
            <td class="thStype" colspan="7">
              <span class="thSpanStyle">CHILD INFORMATION</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle" width="105px;">
              <span class="tdSpanStyle">ID</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$!sponsee.uniqueId</span>
            </td>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">NAME</span>
            </td>
            <td class="thStype" colspan="2">
              <span class="tdSpanStyle">$!sponsee.studentName</span>
            </td>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">DATE OF BIRTH</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$sponsee.dateOfBirth</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">GENDER</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$!sponsee.gender</span>
            </td>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">CLASS/GRADE</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">Active</span>
            </td>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">MEDIUM OF STUDY</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$!sponsee.baseLanguage</span>
            </td>
            <td class="thImageStype" rowspan="6">
        	  <img width="100" height="120" src="data:image/png;base64,$sponsee.profilePicture" alt="imagename" />
            </td>
          </tr>

          <tr>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">HOBBY</span>
            </td>
            <td class="thStype" colspan="5">
              <span class="tdSpanStyle">$!sponsee.hobby</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">FAVORITE COLOR</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$!sponsee.favColor</span>
            </td>
            <td class="tdHighLightStyle" colspan="2">
              <span class="tdSpanStyle">FAVORITE GAME</span>
            </td>
            <td class="thStype" colspan="2">
              <span class="tdSpanStyle">$!sponsee.favGame</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">NAME OF GUARDIAN</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$!sponsee.nameOfGuardian</span>
            </td>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">OCCUPATION</span>
            </td>
            <td class="thStype" colspan="3">
              <span class="tdSpanStyle">$!sponsee.occupationOfGuardian</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle" colspan="2">
              <span class="tdSpanStyle">PARTNER ORGANIZATION</span>
            </td>
            <td class="thStype" colspan="4">
              <span class="tdSpanStyle">$!sponsee.agencyName</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">PROJECT LOCATION</span>
            </td>
            <td class="thStype" colspan="5">
              <span class="tdSpanStyle">$!sponsee.projectName - $!sponsee.address</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">RENEWAL DATE</span>
            </td>
            <td class="thStype" colspan="5">
              <span class="tdSpanStyle" style="background-color: yellow;">$!sponsee.renewalDue</span>
            </td>
          </tr>
        </table>
      </div>
	 #end
	 <div class="container">
        <table class="tableStyle">
          <tr>
            <td class="thStype" colspan="4">
              <span class="thSpanStyle">SPONSORSHIP DETAILS</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">NUMBER OF CHILDREN SPONSORED</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$!totalChildrenSposored</span>
            </td>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">SPONSORSHIP START DATE</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$!spnStartDate</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">TOTAL DONATION RECEIVED</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$$!totalSponsorshipReceived</span>
            </td>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">PAYMENT METHOD</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$!paymentMethod</span>
            </td>
          </tr>
          <tr>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">FUNDS UTILIZED</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$$!fundUsed</span>
            </td>
            <td class="tdHighLightStyle">
              <span class="tdSpanStyle">BALANCE</span>
            </td>
            <td class="thStype">
              <span class="tdSpanStyle">$$!totalBalance</span>
            </td>
          </tr>
        </table>
      </div>
 		   <br />
     	   <br />
     	   <br />
     	   <br />
     	   <br />
      <div>
        <div style="padding-bottom: 0px;">
          <div style="padding-left:20px; padding-bottom: 10px;">
            <span style="font-size: 13px;">Once again, we really appreciate your prayers and support. Please contact
              the office of the Mar Thoma Mission
              Board if you have any questions or concerns. Please find contact information above.</span>
          </div>
          
          <div style="padding-left:20px">
            <span style="font-size: 13px;">Sincerely,</span>
          </div>
          <div style="padding-left:20px">
            <span style="font-size: 13px;">Mission Coordinator</span>
          </div>
          <div style="padding-left:20px">
            <span style="font-size: 13px;">Mar Thoma Mission Board</span>
          </div>
          <div style="padding-left:20px">
            <span style="font-size: 13px;">Diocese of North America & Europe</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>