<!DOCTYPE html>
<html>

<head>
  <style>
    .bodyStyle {
      font-family: serif;
    }

    #container {
      width: 100%;
      font-size: 0;
      margin: 15px;
      padding-left: 90px;
      padding-right: 50px;
      padding-bottom: 20px;
    }

    .tableStyle {
      border-spacing: 1px;
      border-collapse: separate;
      width: 97.7%;
    }

    .thStype {
      border: .2px solid black;
      border-collapse: inherit;
      padding-left: 5px;
      padding-top: 2px;
      height: 40px;
      text-align: left;
    }

    .thStype2 {
      border: .2px solid black;
      border-collapse: inherit;
      padding-left: 5px;
      padding-top: 2px;
      height: 40px;
      text-align: right;
      vertical-align: middle;
    }

    .blank_row {
      height: 40px !important;
      /* overwrites any other rules */
      background-color: #FFFFFF;
    }

    h2 {
      display: block;
      font-size: 1.3em;
      margin-top: 0.10em;
      margin-bottom: 0.83em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }
  </style>
</head>

<body class="bodyStyle">
  <div style="border: thin solid black">
    <div style="float: left;padding-left:85px;">
      <img width="100" src="data:image/png;base64,$waterMark" alt="imagename" />
    </div>
    <div style="float: right; width: 97%">
      <div style="padding: 0px;margin: 0px;">
        <div  style="padding-left: 26px">
          <h2 style="padding: 0px;margin: 0px;">MAR THOMA MISSION BOARD</h2>
        </div>
         <div style="padding-left:54px">
           <span style="font-size: 15px;">Diocese of North America & Europe</span>
        </div>
        
        <div style="padding-left:36px">
          <p style="padding: 0px;margin: 0px; font-size: 14px;">2320 Merrick Ave, Merrick, New York - 11566</p>
        </div>
        <div style="padding-left: -6px">
          <span style="font-size: 13px;"><strong>Phone: </strong> </span>
          <span style="font-size: 13px;">(516) 377-3311 </span>
           <span style="font-size: 13px;"><strong>Email: </strong></span>
            <span style="font-size: 13px;">marthomamissionboard@gmail.com</span>
        </div>
        <div style="padding-left: 48px">
          <span style="font-size: 13px;"><strong>Website: </strong> </span>
          <span style="font-size: 13px;">www.marthomamissionnae.org</span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <br />
    <br />
    <div id="container">
      <table cellpadding="5" cellspacing="5">
        <tr>
          <td>
            <span style="font-size:20;font-weight: bold; color: red">No: $receiptNo</span>
          </td>
          <td width="37%">
            <span></span>
          </td>
          <td>
            <span><strong>Date:</strong></span><span>$!receiptDate</span>
          </td>
        </tr>
      </table>
    </div>
    <br />
    <br />
    <div id="container">
      <table cellpadding="5" cellspacing="5">
        <tr>
          <td>
            <span style="font-weight: bold;">Received with thanks from:</span>
            #if( $rType == 0 || $rType == 1)
             $!from
            #else
           	 $!receivedfrom
            #end
          </td>
        </tr>
        <tr>
          <td>
            <span style="font-weight: bold;">Address:</span> $!address
          </td>
        </tr>
        <tr>
          <td>
            #if( $rType == 0 )
            <span style="font-weight: bold;">Parish:</span> $from
            #elseif( $rType == 1 )
            <span style="font-weight: bold;">Organization:</span> $from
            #elseif( $rType == 2 )
            <span style="font-weight: bold;">Parish:</span> $from
            #else
            <span></span>
            #end
          </td>
        </tr>
      </table>
    </div>
    <div id="container">
      <table class="tableStyle">
        <tr>
          <td class="thStype" width="10px;">
            <span>1</span>
          </td>
          <td class="thStype">
            <span>$!missionname</span>
          </td>
          <td class="thStype">
            <span>$$total</span>
          </td>
        </tr>
        <tr>
          <td class="thStype2" colspan="2">
            <span>
              <b>TOTAL</b>
            </span>
          </td>
          <td class="thStype">
            <span>$$total</span>
          </td>
        </tr>
      </table>
    </div>
    <br />
    <br />
     <div id="container">
      <table cellpadding="5" cellspacing="5">
        <tr>
          <td colspan="3">
            <span style="font-weight: bold;">Method of Payment:</span> $!paymentmethod
          </td>
        </tr>

      </table>
    </div>
    <div id="container">
      <table cellpadding="10" cellspacing="10" border="0" width="100%">
        <tr>

          <td colspan="3">
            <div style="padding-left:100px">
              <img width="160px" src="data:image/png;base64,$seal" />
            </div>
          </td>

        </tr>
        <tr>
          <td></td>
          <td>
            <div style="padding-left:5px">
              <img width="70px" src="data:image/png;base64,$sign2" />
            </div>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            Secretary
          </td>
          <td>
            Coordinator
          </td>
          <td>Treasurer</td>
        </tr>
      </table>
    </div>
    <div id="container">
      <table border="0" width="100%">
        <tr>

          <td style="text-align:center;">
            <span style="font-size:9.5;font-weight: bold;">Mar Thoma Mission Board - Diocese of North America & Europe is a 501 (c) (3) not-for-profit tax exempt organization.</span>
          </td>

        </tr>
        <tr>

          <td style="text-align:center;">
            <span style="font-size:10;font-weight: bold;">Tax Identification Number: 81-5479018. Donors can deduct contributions under IRC Section 170.</span>
          </td>

        </tr>
       </table>
    </div>

  </div>
</body>

</html>