<!DOCTYPE html>
<html>

<head>
    <style>
        .bodyStyle {
            font-family: Cambria;
        }

        .borderTable {
            padding: 0px 80px 0px 80px;
            border-collapse: collapse;
            border: 2px solid black;
            width: 100%;
        }

        .border-td {
            border-collapse: collapse;
            border: 2px solid black;
            border-width: 0 2px 0 2px;
        }
    </style>
</head>

<body class="bodyStyle">
    <pre>



    </pre>
    <table>
        <tr>
            <td width="18%"> </td>
            <td width="90%">
                <table class="borderTable">
                    <tr>
                        <td>
                            <div style="padding-left:20px; border: solid;">
                                <br />
                                <img width="500" src="data:image/png;base64,$receiptHeader" />
                            </div>
                        </td>
                    </tr>
                </table>
                <div>
                    <table class="border-td" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="4%"></td>
                            <td width="61.7%">
                            <table>
                                <tr>
                                    <td style="height: 5px;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style=" font-size:15;font-weight: bold; color: red">No:
                                            $receiptNo</span>
                                    </td>
                                    <td width="45%">
                                        <span></span>
                                    </td>
                                    <td>
                                        <span style="font-weight: bold; font-size:13px">Date:</span>
                                        <span style="font-size:13px">$!receiptDate</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 4px;"></td>
                                </tr>
                            </table>
                        </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                    <table class="borderTable">
                        <tr>
                            <td>

                                <table align="center">
                                    <tr>
                                        <td style="height: 20px;"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;">
                                            <span style="font-weight: bold; font-size:13px">Received with thanks
                                                from:</span>
                                            <span style="font-size:13px">
                                                #if( $rType == 0 )
                                                $!from
                                                #else
                                                $!receivedfrom  $!coSponsorName
                                                #end
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 2px;"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;">
                                            #if($address)
  												<span style="font-weight: bold; font-size:13px">Address:</span>
                                            	<span style="font-size:13px"> $!address </span>
											#end
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 20px;"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;">
                                        
                                            #if( $rType == 0 )
                                            <span style="font-weight: bold; font-size:13px">Parish:</span> <span
                                                style="font-size:13px">$from $rType</span>
                                            #elseif( $rType == 1 )
                                            <span style="font-weight: bold;font-size:13px">Organization:</span> <span
                                                style="font-size:13px">$from</span>
                                            
                                            #else
                                            <span></span>
                                            #end
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 20px;"></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                    <table class="border-td" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="10%"></td>
                            <td width="47.5%" height="5%">

                                <table border="1" cellpadding="0" cellspacing="0" >
                                    <tr>
                                        <td style="text-align: center;height: 20px;border-top-style: none;">
                                            <span style="font-weight: bold;font-size:13px;">No</span></td>
                                        <td style="text-align: center;height: 20px;">
                                            <span style="font-weight: bold;font-size:13px;">Particulars</span></td>
                                        <td style="text-align: center;height: 20px;">
                                            <span style="font-weight: bold;font-size:13px;">Amount</span></td>
                                    </tr>
                                     #set($i = 0)
                                     #foreach ($initiative in $initiatives)
                                     
                                     #set($i = $i+1)
                                    <tr>
                                        <td width="10px;" style="text-align: center;">
                                            <span style="font-size:13px;height: 20px;">$i</span>
                                        </td>
                                        <td>
                                            <span style="font-size:13px;height: 20px;">$!initiative.name</span>
                                        </td>
                                        <td style="text-align: right;">
                                            <span style="font-size:13px;height: 20px;">$</span>
                                            <span style="font-size:13px;height: 20px;">$number.format("#0.00", $initiative.amount) </span>
                                        </td>
                                    </tr>
                                   	#end
                                    <tr>
                                        <td></td>
                                        <td>
                                            <span style="font-weight: bold;font-size:13px;height: 20px;">
                                                TOTAL
                                            </span>
                                        </td>
                                        <td style="text-align: right;height: 20px;">
                                            <span style="font-weight: bold;">$</span>
                                            <span style="font-weight: bold;font-size:13px;">$number.format("#0.00", $total)</span>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                            <td width="8.2%"></td>
                        </tr>
                    </table>
                    <table class="borderTable" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <div>
                                    <table align="center">
                                        <tr>
                                            <td style="height: 20px;"></td>
                                        </tr>
                                        #if ($amountInwords) 
										 <tr>
                                            <td style="text-align:center;">
                                                <span style="font-weight: bold; font-size:13px">Total Amount in
                                                    words:</span>
                                                <span style="font-size:13px">$!amountInwords</span>
                                            </td>
                                         </tr> 
										#end
                                        
                                        <tr>
                                            <td style="text-align:center;">
                                                <span style="font-weight: bold; font-size:13px">Payment by
                                                    Cash/Check/PayPal:</span>
                                                <span style="font-size:13px">$!paymentmethod </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 25px;"></td>
                                        </tr>
                                         #if ($submissionname) 
	                                        <tr>
	                                            <td style="text-align:center;">
	                                                <span style="font-weight: bold; font-size:13px">Description:</span>
	                                                <span style="font-size:13px">$!submissionname</span>
	                                            </td>
	                                        </tr>
	                                     #end
                                        <tr>
                                            <td style="height: 35px;"></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <table width="100%" align="center">
                                    	 <tr>
                                            <td style="text-align:center;" width="20px">
                                                <span style="font-size:13;font-weight: bold;"></span>
                                            </td>
                                            <td style="text-align:center;" width="20px">
                                                <span style="font-size:13;font-weight: bold;"></span>
                                            </td>
                                            <td style="text-align:center;" width="20px">
                                                <span style="font-size:13;font-weight: bold;">Sd/- </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;">
                                                <span style="font-size:13;font-weight: bold;"> Secretary </span>
                                            </td>
                                            <td style="text-align:center;">
                                                <span style="font-size:13;font-weight: bold;"> Treasurer </span>
                                            </td>
                                            <td style="text-align:center;">
                                                <span style="font-size:13;font-weight: bold;"> Coordinator </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="height: 25px;"></td>
                                        </tr>
                                        <tr>
                                        	<td colspan="3" style="text-align:center;">
                                        	<span style="font-size:10;font-weight: italic;">
                                        		Note: This is a software generated receipt hence no signature required
                                        	</span>
                                        	</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="borderTable">
                        <tr>
                            <td>
                                <div>
                                    <table width="100%">
                                        <tr>
                                            <td style="height: 3px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;">
                                                <span style="font-size:13;font-style: italic;">Mar Thoma Mission Board -
                                                    Diocese of
                                                    North America & Europe
                                                    is a 501 (c) (3) non-for-profit tax
                                                    exempt organization</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 5px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;">
                                                <span style="font-size:13;font-style: italic;">Tax Id: 81-5479018.
                                                    Donors can deduct
                                                    contribution under IRC
                                                    Section 170</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 3px;"></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </td>
            <td> </td>
        </tr>
    </table>
</body>

</html>