<!DOCTYPE html>
<html>

<head>
  <style>
    .bodyStyle {
      font-family: Cambria;
    }

    table {
      border-collapse: collapse;
    }
  </style>
</head>

<body class="bodyStyle">
  <table width="100%" border="1">
    <tr>
      <td colspan="7" height="35" style="text-align: center; background-color:#717477; vertical-align: middle; padding-top: 20px;">
        <h1>$!parishName - $!parishCity</h1>
      </td>
    </tr>
    <tr>
      <td colspan="7" height="20" style="text-align: center; background-color:#a2a6aa; vertical-align: middle; padding-top: 20px;">
        <h3>LIGHT TO LIFE - SPONSORSHIP SUMMARY - AS OF $currentMonth $currentYear</h3>
      </td>
    </tr>
    <tr>
      <td style="font-weight:bold; font-size: 10pt;" width="17%">SPONSOR ID</td>
      <td style="font-weight:bold; font-size: 10pt;" width="30%">NAME OF SPONSOR</td>
      <td style="font-weight:bold; font-size: 10pt; text-align: right;" width="14%">Receipt Total</td>
      <td style="font-weight:bold; font-size: 10pt; text-align: center;" width="4%">NO.</td>
      <td style="font-weight:bold; font-size: 10pt;" width="18%">CHILD ID</td>
      <td style="font-weight:bold; font-size: 10pt; text-align: right;" colspan="2" width="18%">RENEWAL DUE</td>
    </tr>
    #foreach ($sponsor in $sponsorList)
    <tr>
      <td style="font-size: 9pt;">$!sponsor.sponsorCode</td>
      <td style="font-size: 9pt;">$!sponsor.sponsorFirstName $!sponsor.sponsorMi $!sponsor.sponsorLastName</td>
      <td style="font-size: 9pt; text-align: right;">$number.format("currency", $sponsor.netDonation)</td>
      <td style="font-size: 9pt; text-align: center;">$!sponsor.students.size()</td>
      <td colspan="3">
        #foreach ($student in $sponsor.students)
        <table width="100%" border="0">
          <tr>
            <td style="font-size: 9pt;" width="60%">$!student.studentCode</td>
            <td style="font-size: 9pt;  text-align: right;" width="25%">$!student.maxOutMonth</td>
            <td style="font-size: 9pt; text-align: center;" width="15%">$!student.maxOutYear</td>
          </tr>
        </table>
        #end
      </td>
    </tr>
    #end
  </table>
</body>

</html>