<html>
<style>
table, th, td {
     border: 1px solid black;
    border-collapse: collapse;
}
#container {width:100%; font-size: 0; margin: 15px}
#left, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
#left {width: 80%;}
#right {width: 20%;}
#colum-span { padding-left: 5px }
</style>
<body>
<div style="border-style: ridge; margin: 15px;">

 <div style="border-style: ridge; margin: 15px;">
	<div style="width:400px; margin:0 auto;">
       <span style="font-weight: bold; font-size : 25">MAR THOMA MISSION BOARD</span>
    </div>
	<div style="width:600px; margin:0 auto;">
       <span style="font-weight: bold; font-size : 25">DIOCESE OF NORTH AMERICA & EUROPE</span>
    </div>
	<div style="width:360px; margin:0 auto; padding-top: 5px;">
     2320 Merrick Ave, Merrick, New York - 11566 
    </div>
	<div style="width:650px; margin:0 auto;padding-top: 5px;padding-bottom: 8px;">
		<span style="font-size : 13"><strong>P</strong>hone: (516) 377-3311 <strong>E</strong>mail: marthomamissionboard@gmail.com <strong>W</strong>ebsite: www.marthomamissionnae.org</span>
	</div>
 </div>
  <div>
	<div style="width:420px; margin:0 auto; ;padding-bottom: 10px;">
	 <span style="font-weight: bold; font-size : 16">LIGHT TO LIFE - SPONSORSHIP INFORMATION</span>
	</div>
  </div>
  <div style="margin: 15px;">
	<div style="margin:0 auto; ;padding-bottom: 20px;">
		January 15, 2018 
	</div>
	<div style="margin:0 auto; ;padding-bottom: 20px;">
		Dear Jacob Varughese, 
	</div>
	<div style="margin:0 auto; ;padding-bottom: 10px;">
		The Mar Thoma Mission Board - Diocese of North America &amp; Europe would like to thank you for supporting the Light to Life project and actively participating by pledging to sponsor a child. 
	</div>
	<div style="margin:0 auto; ;padding-bottom: 10px;">
		The following are your sponsorship details: 
	</div>
  </div>
  <div id="container">
	  <table style="width:97.7%">		  
		  <tr>
			<td colspan="4"><span id="colum-span">SPONSOR INFORMATION</span></td>	
		  </tr>
		  <tr>
			<td width="250px"><span id="colum-span">IDENTIFICATION NUMBER</span></td>
			<td colspan="3"><span id="colum-span">NE-02-EBN-1001</span></td>
		  </tr>
		  <tr>
			<td width="250px"><span id="colum-span">NAME OF SPONSOR</span></td>
			<td colspan="3"><span id="colum-span">Jacob Varughese</span></td>
		  </tr>
		   <tr>
			<td><span id="colum-span">PARISH</span></td>
			<td><span id="colum-span">Ebenezer Mar Thoma Church - New York</span></td>
			<td width="150px"><span id="colum-span">REGION - CENTER</span></td>
			<td><span id="colum-span">Northeast - B</span></td>
		  </tr>
		   <tr>
			<td width="250px"><span id="colum-span">ADDRESS</span></td>
			<td colspan="3"><span id="colum-span">52 Frederick Place, Mount Vernon, New York - 10552</span></td>
		  </tr>
		   <tr>
			<td><span id="colum-span">PHONE</span></td>
			<td><span id="colum-span">(914) 610-6360</span></td>
			<td width="150px"><span id="colum-span">E-MAIL</span></td>
			<td><span id="colum-span">sajielzy@aol.com</span></td>
		  </tr>
	</table>
  </div>
  <div id="container">
      <div id="left">
		  <table style="width:100%">		  
			  <tr>
				<td colspan="6"><span id="colum-span">CHILD INFORMATION</span></td>	
			  </tr>
			  <tr>
				<td width="250px"><span id="colum-span">IDENTIFICATION NUMBER</span></td>
				<td colspan="5"><span id="colum-span">CARD-SNKMP-5191</span></td>
			  </tr>
			  <tr>
				<td width="250px"><span id="colum-span">NAME OF CHILD</span></td>
				<td colspan="5"><span id="colum-span">Neha Chappa</span></td>
			  </tr>
			  <tr>
				<td><span id="colum-span">DATE OF BIRTH</span></td>
				<td colspan="2"><span id="colum-span">June 13, 2011</span></td>
				<td colspan="2"><span id="colum-span">CLASS – GRADE LEVEL</span></td>
				<td><span id="colum-span">2nd Grade</span></td>
			  </tr>
			  <tr>
				<td><span id="colum-span">GENDER</span></td>
				<td><span id="colum-span">Female</span></td>
				<td><span id="colum-span">MEDIUM OF STUDY</span></td>
				<td><span id="colum-span">Hindi</span></td>
				<td><span id="colum-span">CLUSTER</span></td>
				<td><span id="colum-span">Sarvodaya</span></td>
			  </tr>
			  <tr>
				<td><span id="colum-span">HOBBY</span></td>
				<td><span id="colum-span">Drawing</span></td>
				<td><span id="colum-span">FAVORITE COLOR</span></td>
				<td><span id="colum-span">Blue</span></td>
				<td><span id="colum-span">FAVORITE GAME</span></td>
				<td><span id="colum-span">Hide&Seek</span></td>
			  </tr>
			   <tr>
				<td width="250px"><span id="colum-span">PARTNER ORGANIZATION</span></td>
				<td colspan="5"><span id="colum-span">Christian Agency for Rural Development [CARD]</span></td>
			  </tr>
			   <tr>
				<td><span id="colum-span">PROJECT LOCATION</span></td>
				<td colspan="5"><span id="colum-span">Shanthi Nagar – Kshipra Village – Madhya Pradesh</span></td>				
			  </tr>
		</table>
	</div>
	 <div id="right">dsfsdf</div>
  </div>
  <div id="container">
	  <table style="width:97.7%">		  
		  <tr>
			<td colspan="4"><span id="colum-span">PAYMENT DETAILS</span></td>	
		  </tr>
		  <tr>
			<td width="250px"><span id="colum-span">NUMBER OF CHILDREN SPONSORED</span></td>
			<td><span id="colum-span">1</span></td>
			<td><span id="colum-span">SPONSORSHIP START DATE</span></td>
			<td><span id="colum-span">December 1, 2017</span></td>
		  </tr>
		  <tr>
			<td width="250px"><span id="colum-span">TOTAL PAYMENT RECEIVED</span></td>
			<td><span id="colum-span">$240</span></td>
			<td><span id="colum-span">PAYMENT METHOD</span></td>
			<td><span id="colum-span">[Yearly] [Check] [$20/Child/Month]</span></td>
		  </tr>
	</table>
  </div>
    <div style="margin: 15px;">	
	<div style="margin:0 auto; ;padding-bottom: 10px;">
		Once again, we really appreciate your prayers and support. Please contact the office of the Mar Thoma Mission Board if you have any questions 
		or concerns. Please find contact information above. 
	</div>
	<div style="margin:0 auto; ;padding-bottom: 50px;">
		Regards,
	</div>
	<div style="margin:0 auto; ;padding-bottom: 10px;">
		Akash Daniel Mathew </br> Mar Thoma Mission Board </br> Diocese of North America & Europe 
	</div>
  </div>
</div>
</body>
</html> 